@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

// color variables
$primary-color: #202A44;
$secondary-color: #f1be63;
$bg-color: #e8f4f8;
$text-color: #303030;
$heading-color: #505050;
$white-color: #f9f9f9;
// $icon-color: ;

body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
a,p{
    color: $text-color;
}
.hide{
    display: none !important;
}
.header{
    position: relative;
    height: 100vh;

    .header-child{
        height: 95vh;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        background-color: $bg-color;

        .navbar{
            padding-left: 1.4rem;
            .navbar-brand{
                color: $primary-color;
                font-size: 1.8rem;
                margin: 0;
            }
        }
        .header-body{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // width: 100%;

            .box{
                h1{
                    font-size: 3em;
                    color: $heading-color;
                }
                .name-field{
                    position: relative;

                    .form-control{
                        background-color: transparent;
                        font-size: 4em;
                        border: 0;
                        border-bottom: 5px solid $white-color;
                        border-radius: 0;
                        outline: none;
                        box-shadow: none;
                        color: $text-color;
                        text-transform: uppercase;
                        
                        &::placeholder{
                            text-transform: none;
                            font-size: 0.8em;
                        }
                    }
                    .icon{
                        position: absolute;
                        top: 50%;
                        right: 5%;
                        transform: translateY(-50%);
                        font-size: 4em;
                        display: block;

                        .fa-check-circle{
                            color: #23C552;
                        }
                        .fa-times-circle{
                            color: #F84F31;
                        }
                    }
                }
            }
            .btn{
                font-size: 2.5em;
                border-width: 5px;
                color: $primary-color;
                border-color: $primary-color;

                &:hover{
                    color: $white-color;
                    background-color: $primary-color;
                }
            }
        }
        .footer{
            display: flex;
            justify-content: space-between;

            .header-socials{
                display: flex;
                margin: 0;
                padding: 0;
                list-style-type: none;

                li{
                    padding: 0.2rem 0.4rem;
                    margin: 0 0.2rem;

                    a{
                        font-size: 2rem;
                    }
                }
            }
            h6{
                margin-bottom: 0;
                font-size: 1.2em;
                color: $text-color;
            }
        }
    }
}
.page{
    position: relative;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .page-header{
        position: relative;
        height: 40vh;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        // display: flex;
        // flex-direction: column;
        background-color: $bg-color;
        // overflow: hidden;

        &:after{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -40%;
            width: 100%;
            height: 100%;
            transform: skewY(-7.5deg);
            z-index: -1;
            border-bottom-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            background-color: $bg-color;
        }

        .main-head{
            // background-color: #23C552;
            h1{
                color: $primary-color;
            }
        }
    }
}
.navbar{
    .navbar-brand{
        font-size: 1.6rem;
        color: $primary-color;
        // margin: 0;
    }
    .nav-link{
        font-size: 1.2rem;
    }
}